{% extends 'base.html' %}

{% block content %}
    <head>
        <title>{{ title }}</title>

    </head>
    <div class="container pt-5">
        <h3>{{ title }}:</h3>
        {% if articles %}
            <ul class="list-group gap-3">
                {% for article in articles %}
                    <li class="list-group-item {% if not article.status %}list-group-item-warning{% else %}list-group-item-secondary{% endif %} list-group-item-action rounded">
                        <h3 class="list-group-item-heading">
                            <h3><a href="{{ article.get_absolute_url }}"
                                   class="text-decoration-none text-reset">
                                {{ article.title }}{% if not article.status %}<sup class="text-danger">Черновик</sup>{% endif %}</a></h3>
                        </h3>
                        <p class="list-group-item-text lead" data-toggle="tooltip"
                           title="{{ article.short_description|safe }}" style="overflow-wrap: break-word;">
                            {{ article.short_description|safe|truncatechars:80 }}
                            <br/>
                        </p>
                        {% if article.tags.all %}
                            <div class="mb-2">
                                Теги: {% for tag in article.tags.all %}
                                <span class="badge rounded-pill bg-light text-dark mx-1">
                        <a class="text-decoration-none text-reset"
                           href="{% url 'articles_by_tags' tag.slug %}">{{ tag }}</a>
                        </span>
                            {% endfor %}
                            </div>
                        {% endif %}
                        <div class="d-flex justify-content-between">
                            <span class="badge rounded-pill bg-info mx-1"><a class="text-decoration-none text-reset"
                                                                             href="{{ article.author.get_absolute_url }}">{{ article.author }}</a></span>
                            <span class="badge rounded-pill mx-1
                                    {% if article.likes == 0 %}
                                        bg-info
                                    {% elif article.likes > 0 %}
                                        bg-success
                                    {% else %}
                                        bg-danger
                                    {% endif %}">
                            рейтинг: {{ article.likes }}</span>
                            <span class="badge bg-secondary mx-1">{{ article.date }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="d-flex align-items-center justify-content-center h-75">
                <div class="text-center">
                    <p class="fs-3"><span class="text-danger">Упс!</span> Тут пусто.</p>
                    <p class="lead">
                        {{ null_articles }}
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}