{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <head>
        <title>{{ article.title }}</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="js/articles.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#bt-like").click(function () {
                    ajax_like("{{ article.get_absolute_url }}", 1)
                });
                $("#bt-dislike").click(function () {
                    ajax_like("{{ article.get_absolute_url }}", -1)
                });
            });
        </script>
    </head>

    <div class="container pt-5">
        <div class="card rounded p-3 py-4">
            <div class="d-flex justify-content-start">
                <span class="badge rounded-pill bg-info mx-1"><a class="text-decoration-none text-reset"
                                                                 href="{{ article.author.get_absolute_url }}">{{ article.author }}</a></span>
                <span class="badge rounded-pill bg-secondary mx-1">{{ article.date }}</span>
            </div>
            <h3 class="list-group-item-heading">
                <h4>{{ article.title }}</h4>
            </h3>

            <p class="text-break">
                {{ article.content|safe }}
                <br/>
            </p>
            {% if article.tags.all %}
                <div class="mb-2">
                    Теги: {% for tag in article.tags.all %}
                    <span class="badge rounded-pill bg-light text-dark mx-1">
                        <a class="text-decoration-none text-reset"
                           href="{% url 'articles_by_tags' tag.slug %}">{{ tag }}</a>
                        </span>
                {% endfor %}
                </div>
            {% endif %}
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group">
                    <button id="bt-like"
                            class="btn shadow-none btn-success bg-success">
                        <i id="icon-like" class="bi bi-hand-thumbs-up{% if user_like == 1 %}-fill{% endif %}"></i>
                        <span id="count_like" class="badge">&nbsp;{{ count_like }}</span>
                    </button>
                    <button id="bt-dislike"
                            class="btn shadow-none btn-danger bg-danger">
                        <i id="icon-dislike" class="bi bi-hand-thumbs-down{% if user_like == -1 %}-fill{% endif %}"></i>
                        <span id="count_dislike" class="badge">&nbsp;{{ count_dislike }}</span>
                    </button>
                </div>
            </div>
        </div>
        <form class="comment-form" action="" method="post">
            {% csrf_token %}
            {{ comment_form.parent_comment }}
            <div class="card-footer py-3 border-0">
                <div class="d-flex flex-start w-100">
                    <img class="rounded-circle shadow-1-strong me-3"
                         src="{{ user.get_avatar }}" alt="avatar" width="40"
                         height="40"/>
                    <div class="form-outline w-100">
                        {{ comment_form.comment_area }}
                        <!-- <textarea class="form-control" id="textAreaExample" rows="4"></textarea> -->
                    </div>
                </div>
                <div class="float-end mt-2 pt-1">
                    <button type="submit" class="btn btn-primary btn-sm">Отправить</button>
                </div>
            </div>
        </form>
        <div id="comments-container">
            {% include "show_comments.html" %}
        </div>

    </div>
{% endblock content %}