{% extends 'base.html' %}


{% block content %}
    <head>
        <title>Сброс пароля</title>
    </head>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            Забыли свой пароль? Введите свой логин и адрес
            <br>
            электронной почты ниже, и мы вышлем
            <br>
            инструкции по установке нового.
            <div style="margin-top: 10px"></div>
            <div>Логин</div>
            {{ form.username }}<br>
            <div>Email</div>
            {{ form.email }}<br>
            <!--<script src='https://www.google.com/recaptcha/api.js?&hl=ru'></script>
            <div class="form-group g-recaptcha" data-sitekey=""></div>-->

            <div class="account-error-reg">
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            </div>
            <input type="submit" value="Сбросить пароль">
        </div>
    </form>

{% endblock content %}