{% extends 'base.html' %}


{% block content %}
    <head>
        <title>Письмо сброса пароля</title>
    </head>
    <div class="d-flex align-items-center justify-content-center h-75">
        <div class="text-center">
            <p class="fs-3">Мы отправили вам по электронной почте инструкции по установке нового пароля.</p>
            <p class="lead">
                Если вы не получили электронное письмо, пожалуйста, убедитесь, что вы ввели верный электронный адрес, и
        проверьте папку со спамом.
            </p>
        </div>
    </div>
{% endblock content %}