{% extends 'base.html' %}

{% block content %}
    <head>
        <title>Ошибка сервера</title>
    </head>
    <div class="d-flex align-items-center justify-content-center h-75">
        <div class="text-center">
            <h1 class="display-1 fw-bold">500</h1>
            <p class="fs-3"> <span class="text-danger">Упс!</span> Internal Server Error.</p>
            <p class="lead">
                Похоже, у нас что-то пошло не так
            </p>
            <a href="{% url 'home' %}" class="btn btn-primary">На главную</a>
        </div>
    </div>
{% endblock content %}